.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #222831;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 0rem 0rem 2rem 2rem;
    box-shadow: 1px 1px 5px #00ADB5;

}
.listItems{
    display: flex;
    list-style: none;
    gap: 40px;
    
}
.item{
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid #00ADB5;
    border-radius: 1rem;
    background-color: #393e46;
    box-shadow: 1px 1px 5px #00ADB5;
}
.itemLink{
    text-decoration: none;
    color: #EEEEEE;
    font-size: 20px;
    font-weight: bold;
}
.searchContainer{
    background-color: #EEEEEE;
    width: 300px;
    height: 40px;
    border-radius: 2rem;
    border: 2px solid #00ADB5;
    box-shadow: 1px 1px 5px #00ADB5;
}
.searchBar{
    background-color: #EEEEEE;
    width: 256px;
    height: 30px;
    border-radius: 2rem;
    border: none;

    /* width: 300px;
    height: 40px;
    border-radius: 2rem;
    border: 2px solid #00ADB5;
    box-shadow: 1px 1px 5px #00ADB5; */
}
.searchBar:focus{
    outline: none;
}
.searchButton{
    background-color: #393e46;
    width: 40px;
    height: 40px;
    border-radius: 0rem 2rem 2rem 0rem;
    border: none;
    cursor: pointer;

}
.searchImage{
    width: 20px;
    height: 20px;
}
