.toast{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00ADB5;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    z-index: 10000;
    animation: fadeInOut 2.5s forwards;
}

@keyframes fadeInOut{
    0% {opacity: 0;}
    10% {opacity: 0.95;}
    90% {opacity: 0.95;}
    100% {opacity: 0;}
}