.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    gap: 16px;
    width: 60%;
    margin: 0 auto;
    background-color: #222831;
    margin-top: 0;
}
.containerFive{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


}
.cardContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 2rem;
    width: 200px;
    height: 300px;
    border: 2px solid #00ADB5;
    box-shadow: 1px 1px 5px #00ADB5;
    background-color: #393e46;
    cursor: pointer;
}
.cardContainerWeeklyOffer{
    position: relative;
    border-radius: 2rem;
    width: 200px;
    height: 300px;
    border: 2px solid #00ADB5;
    box-shadow: 1px 1px 5px #00ADB5;
    background-color: #393e46;
    margin-left: 20px;
    cursor: pointer;
}
.cardImg{
width: 200px;
height: 150px;
border-radius: 2rem;
}
.cardHOne{
margin-top: 2px;
font-size: 1.3rem;
}
.para{
width: 75%;
margin-top: 2px;
position: relative;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
max-width: 150px;
}
.cardHTwo{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.cardHTwoWeeklyOffer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-decoration: line-through;
}
.cardHTwoWeeklyOfferPrice{
    position: absolute;
    bottom: 30px;
    left: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: red;
    text-decoration: underline;
    text-decoration-color: #00ADB5;
}