.outerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.container{
    display: flex;
    flex-direction: column;
    background-color: #393E46;
    width: 50%;
    border-radius: 5rem;
    align-items: center;
    border: 1px solid #00ADB5;
    box-shadow: 1px 1px 5px #00ADB5;
}
.para{
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 20px 0;
<<<<<<< HEAD:ProductFrontend/pages/About.module.css
    width: 90%;
}
=======
    width: 50%;
}
>>>>>>> 89025e38f36e53d8ad2876eeb027413f29dc13d0:ProductFrontend/pages/about.module.css
