.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* height: 100vh; makes the sign apear in the middle verticaly */
    width: 60%;
    align-items: center;
    background-color: #222831;
    
 
}
.h{
    background-color: #393E46;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px #00ADB5;
    text-align: center;
    padding: 10px;
}
.h:hover{
    padding: 100px;
    box-shadow: 5px 5px 10px #00ADB5;
    margin: auto;
    transition: 1s;
}
.image{
    width: 59vw;
    height: 300px;
    object-fit: cover;
    border-radius: 3rem;
}
