.innerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #222831;
    width: 50%;
}
.innerH{
    align-self: center;
}