.innerContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    background-color: #222831;
}
.innerH{
    align-self: flex-start;
    margin-left: 70px;
    border: 1px solid #00ADB5;
    border-radius: 1rem;
    background-color: #393e46;
    box-shadow: 1px 1px 5px #00ADB5;
    color: #EEEEEE;
    padding: 5px;
}